// Color variables

$color-black-main: #0f0f0f;
$color-black-sub: #1c1c1c;

$color-white-main: #ffffff;
$color-white-sub: #ececec;
$color-white-subb: #dfdfdf;

$color-status-green: #3cce78;
$color-status-yellow: #fae189;
$color-status-red: #ff4d4f;
$color-status-blue: #0075ff;
