// Color variables

$color-black-main: #0f0f0f;
$color-black-sub: #1c1c1c;

$color-white-main: #ffffff;
$color-white-sub: #ececec;
$color-white-subb: #dfdfdf;

$color-status-green: #0f0;
$color-status-yellow: #ff0;
$color-status-red: #f00;
$color-status-blue: #0075ff;
